.center-card-incidencia {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  min-height: 93.3vh; /* Ensure the minimum height covers the viewport */
  background-color: #186693;
}
.center-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;

}

.incident-jut-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.incident-details {
  display: flex;
  flex-direction: column;
}

.incident-meta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.incident-priority, .incident-date {
  font-size: 14px;
  color: #888;
}

.view-button {
  background-color: #ff4d4d;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.content-wrapper {
  width: 90%;
  padding: 20px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: #3880ff;
  border-radius: 50%;
}

.file-input {
  display: none;
}

.image-preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
}

.boton-mas{
  width: 5%;
  font-size: medium;
}

.right-align {
  text-align: right;
}

.right-align-w {
  text-align: right;
  max-width: 50%;
}


.image-preview {
  max-width: 100%;
  border-radius: 8px;
}

#uniquecard{

  width: auto;

  height: auto;


}